// Mixins Here
.flex(@justify; @align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.button(@txt-color; @bg-color; @txt-size; @radius) {
  color: @txt-color;
  background-color: @bg-color;
  font-size: @txt-size;
  text-align: center;
  border: 2px solid @bg-color;
  border-radius: @radius;
  cursor: pointer;
}